<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
   <%-include("header")-%>
   <section id="about_Wrapper">
<div class="about">
    <h1>About</h1>
</div>
<div class="someWord">
   <p> To work with an organization where can learn new skills and increase my abilities for the organizational goals as well as myself.</p>
</div>
<div class="about_Wrapper">
 <div class="aboutContainer">
    <div class="aboutheading">
    <h1>Who am i ?  </h1>
    <div></div>
</div>
        <h2>A Web Developer & Developer Located in our lovely earth </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quia ea blanditiis exercitationem odit iusto maxime, totam veritatis quidem optio!</p>
        <button >Download Cv</button>
    
 </div>
 <div class="aboutContainer">
    
    <div class="aboutheading">
        <h1>  Personal Information</h1>
        <div></div>
    </div>
     <p>Birthdate : <span>25 june 2001</span></p>
     <p>Email : <span>gauravkumar1raj@gmail.com</span></p>
     <p>Phone : <span>+91 9128937435</span></p>
     <p>Address : <span>Muzaffarpur , Bihar , India</span></p>
     <p>Pin-code : <span>843113</span></p>
     <div class="header-social-links">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></i></a>
      </div>
 </div>
 <div class="aboutContainer">
    <div class="aboutheading">
    <h1>My Expertise</h1>
    <div></div>
</div>
    <div class="about_box">
        <i class="fa fa-code"></i>
        <h2>Programming</h2>
        
    </div>
    <div class="about_box">
        <i class="fa fa-laptop"></i>
        <h2>Web Development</h2>
        
    </div>
    <div class="about_box">
        <i class="fa fa-desktop"></i>
        <h2>Ui Design </h2>
        
    </div>
 </div>
</div>
   </section>
   <div class="mobilenav">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <!-- <li><a href="Home">Services</a></li> -->
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
   </div>
</main>
</body>
</html>