<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <main>
        <%-include("header")  -%>
    
    <div class="contact">
        
        <div class="formWrapper">
            <span class="logo">Hire me </span>
            
                <form>
                    <input type="text" placeholder="Your Name " >
                    <input type="email"  placeholder="Your Email ">
                    <textarea cols="30" rows="10"></textarea>
                </form>
                <button>Send me </button>
            
        </div>
    </div>
    <div class="mobilenav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Resume</a></li>
                <!-- <li><a href="Home">Services</a></li> -->
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
       </div>
</main>
</body>
</html>
