
<head>
    <link rel="stylesheet" href="css/header.css">
</head>
<div class="navWrappper">
    <div class="logo">
    <img class="profilepic" src="/Image/my pictur.jpg" alt="">
 <h1 class="Home_page_Link">
    <a href="/">
        Gaurav

    </a> </h1>
    
</div>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resume">Resume</a></li>
        <!-- <li><a href="Home">Services</a></li> -->
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<div class="header-social-links">
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></i></a>
  </div>
</div>