<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio </title>
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main style="background:none; background-color: rgb(247, 243, 243)">
        <div class="navWrappper_about ">
            <div class="logo">
                <img class="profilepic" src="./Image/my pictur.jpg" alt="">
                <h1 class="Home_page_Link">
                    <a href="./index.html">
                        Gaurav

                    </a>
                </h1>

            </div>


            <nav>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./Resume.html">Resume</a></li>
                    <!-- <li><a href="Home">Services</a></li> -->
                    <li><a href="./portfolio.html">Portfolio</a></li>
                    <li><a href="./Contact.html">Contact</a></li>
                </ul>
            </nav>
            <script>

            </script>
            <div class="header-social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></i></a>
            </div>
        </div>
        <section>
             <div class="portfolio">

                <div class="portfolioContent">
                    <div class="portfolioHeading">
                        <h1>Project on web </h1>
                        <!-- <div class="buttonBox">
                <button>Program</button>
                <button>Web</button>
            </div> -->
                    </div>
                    <div class="portfolio-box active" id="All">
                        <div class="imgBox">
                            <img src="./Image/project/12.png" alt="project Image">
                            <div class="contentP">
                                <h1>Food site Web project </h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>
                        </div>

                        <div class="imgBox">
                            <img src="./Image/project/social site frontend.png" alt="project Image">
                            <div class="contentP">
                                <h1>Social Frontend web</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>
                            
                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/Single Page Website.png" alt="project Image">
                            <div class="contentP">
                                <h1>Single page Frontend</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/shopping club 3.png .png" alt="project Image">
                            <div class="contentP">
                                <h1>shopping Frontend Web</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project//epage.png" alt="project Image">
                            <div class="contentP">
                                <h1>Businnss Web page</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/Screenshot 2022-01-16 123934.png" alt="project Image">
                            <div class="contentP">
                                <h1>Video meet Frontend Web</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/webpage1.png" alt="project Image">
                            <div class="contentP">
                                <h1>Businnss Web page</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/Twitter2.png" alt="project Image">
                            <div class="contentP">
                                <h1>Twitter clone </h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        </div>
                        </div>
                        
        </section>
        <section>
            <div class="portfolio">

                <div class="portfolioContent">
                    <div class="portfolioHeading">
                        <h1>Project on React</h1>
                        <!-- <div class="buttonBox">
                <button>Program</button>
                <button>Web</button>
            </div> -->
                    </div>
                    <div class="portfolio-box active" id="All">
                        <div class="imgBox">
                            <img src="./Image/project/12.png" alt="project Image">
                            <div class="contentP">
                                <h1>Food site Web project </h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>
                        </div>

                        <div class="imgBox">
                            <img src="./Image/project/social site frontend.png" alt="project Image">
                            <div class="contentP">
                                <h1>Social Frontend web</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>
                            
                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/Single Page Website.png" alt="project Image">
                            <div class="contentP">
                                <h1>Single page Frontend</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/shopping club 3.png .png" alt="project Image">
                            <div class="contentP">
                                <h1>shopping Frontend Web</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project//epage.png" alt="project Image">
                            <div class="contentP">
                                <h1>Businnss Web page</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/Screenshot 2022-01-16 123934.png" alt="project Image">
                            <div class="contentP">
                                <h1>Video meet Frontend Web</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/webpage1.png" alt="project Image">
                            <div class="contentP">
                                <h1>Businnss Web page</h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        <div class="imgBox">
                            <img src="./Image/project/Twitter2.png" alt="project Image">
                            <div class="contentP">
                                <h1>Twitter clone </h1>
                                <button><i class="fa fa-eye"></i></button>
                                <button><i class="fa fa-link"></i></button>
                            </div>

                        </div>
                        </div>
                        </div>
        </section>
        <div class="mobilenav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <!-- <li><a href="Home">Services</a></li> -->
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </main>

</body>

</html>
