<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio </title>
    <link rel="stylesheet" href="css/portfolio.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>
    <main id="main" onscroll="hello()">
        <%- include("header") -%>
        <!-- Section for portfolio -->
        <section>
            <div class="header-wrapper">
                <p>//Feature work</p>
                <h1>These are some of our recent design projects and we are so excited to show them to you.</h1>
            </div>  

             <!-- Portfolio section -->
             <div class="Element_wrapper">
                 <div class="portfolio_element">
                    <div class="image_box">
                        <img src="../Image/my pictur.jpg" alt="">
                    </div>
                 </div>
             </div>


        </section>
                <!-- <div class="mobilenav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/resume">Resume</a></li>
                     <li><a href="Home">Services</a></li> -->
                    <!-- <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav> -->
        <!-- </div> 
         -->
    </main>
    <script>
        const mainWindow=document.getElementById("main");
        function hello(){
            alert("heki")
        }
    </script>

</body>

</html>
