<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav </title>
    <link rel="stylesheet" href="css/resume.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
       <%- include("header") -%>
   <section>
    <div class="resumeHeading" style="text-align:left;">
        <h1>My Resume</h1>
    </div>
    <div class="bigBox">
    <div class="aboutContainer">
    
        <div class="aboutheading">
            <h1>  Education</h1>
            <div></div>
        </div>
         <div class="resumeBox">
            <h3>2022 - Present</h3>
            <h4>BCA </h4>
            <p>I'm  purshing bca from L.N. Mishra College of Business Management</p>
         </div>
         <div class="resumeBox">
            <h3>2018-2020</h3>
            <h4>12th </h4>
            <p>Passing 12th with Science from BSEB . </p>
         </div>
         <div class="resumeBox">
            <h3>2017-2018</h3>
            <h4>10th</h4>
            <p>Passing 10th from BSEB .</p>
         </div>
     </div>
     <div class="aboutContainer">
    
        <div class="aboutheading">
            <h1>My Skills</h1>
            <div></div>
        </div>

        <div class="resumeBox2">
            <h3>C </h3>
            <div class="bigRange">
                <div class="smallRange1"></div>
            </div>
          </div>
          <div class="resumeBox2">
            <h3>C++ </h3>
            <div class="bigRange">
                <div class="smallRange2"></div>
            </div>
          </div>
          <div class="resumeBox2">
            <h3>Java</h3>
            <div class="bigRange">
                <div class="smallRange3"></div>
            </div>
          </div>
          <div class="resumeBox2">
            <h3>python </h3>
            <div class="bigRange">
                <div class="smallRange4"></div>
            </div>
          </div>
          <div class="resumeBox2">
            <h3>Data Structure</h3>
            <div class="bigRange">
                <div class="smallRange5"></div>
            </div>
          </div>
         <div class="resumeBox2">
           <h3>HTML & CSS</h3>
           <div class="bigRange">
            <div class="smallRange6"></div>
           </div>
         </div>
         <div class="resumeBox2">
            <h3>JavaScript</h3>
            <div class="bigRange">
                <div class="smallRange7"></div>
            </div>
          </div>
          <div class="resumeBox2">
            <h3>ReactJs</h3>
            <div class="bigRange">
                <div class="smallRange8"></div>
            </div>
          </div>
          <div class="resumeBox2">
            <h3>Nodejs </h3>
            <div class="bigRange">
                <div class="smallRange9"></div>
            </div>
          </div>
          <div class="resumeBox2">
            <h3>MongoDB</h3>
            <div class="bigRange">
                <div class="smallRange10"></div>
            </div>
          </div>
         
     </div>
     <div class="aboutContainer">
    
        <div class="aboutheading">
            <h1>Achevement & Language</h1>
            <div></div>
        </div>

        <div class="resumeBox">
            <h3>Java (Basic) Certificate</h3>
           <a href="https://www.hackerrank.com/certificates/cdb3191dee9d">https://www.hackerrank.com/certificates/cdb3191dee9d</a>
          </div>
          <div class="resumeBox">
            <h3>Technical Support Fundamentals</h3>
           <a href="https://in.coursera.org/account/accomplishments/verify/3KNS784GRBSJ?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course">Check it</a>
          </div>
          
          <div class="resumeBox">
            <h3>Use Canva to Create Desktop and Mobile-friendly Web Pages.</h3>
           <a href="https://in.coursera.org/account/accomplishments/verify/NUBA9FQA97A5?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=project">Check it</a>
          </div>
          <div class="resumeBox">
            <h1>Language </h1>
            <p>English</p>
            <p>Hindi</p>
            <p>Bhojpuri</p>
          </div>
          
     </div>
    </div>
   </section>
   <div class="mobilenav">
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./Resume.html">Resume</a></li>
            <!-- <li><a href="Home">Services</a></li> -->
            <li><a href="./portfolio.html">Portfolio</a></li>
            <li><a href="./Contact.html">Contact</a></li>
        </ul>
    </nav>
   </div>
    </main>
</body>
</html>